@charset "UTF-8";
body{
	font-family: 'Montserrat', sans-serif;
    margin:0;
    height: 100%;
    text-align: center;
    
}

h1{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 200%;
    text-shadow: 1px 2px 5px;
}

p{
    margin: 0;
}

nav a{
	text-decoration: none;
	color: #333;
	background-color: #DDF;
	padding: 5px;
	border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #444;
    margin: 3px;
}



nav{
	color: #333;
	padding: 10px;
}

#balance{
	 margin-top: 20%;
	 height:100%;
}

#header{
	background: #FDD;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position : fixed;
	width: 25%;
	height: 30%;
	border-radius: 5px;
	margin: 0;
	box-shadow: 3px 3px 5px 6px #aaa;
	
}


#machineItems a:hover{
    background: #AAF
}



#machineItems{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
}

#machineItems a{
    
    background-color: #DDF;
    color: #E88;
    margin-top: 20px;
    padding-bottom: 20px;
    width: auto;
    margin: 4%;
    text-decoration: none;
    padding: 5%;
    margin-bottom: 10%;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #444;
}
#machine{
    display: inline-block;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 20%;
    margin-bottom: 5%;
    width: 40%;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #444;
    box-shadow: 6px 6px 10px 12px #aaa;
    
    
}

h1{
  
}



#returnToMenuButton{
    
}

#door{
    margin-top:5px;
    border-style: groove;
    border-width: 2px;
    border-radius: 5px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #444;
    background: #AAA;
}

#itemSelection{
    display: flex;
    align-items: center;
    margin-left:20%;
    margin-right: 20%;
    margin-top: 10%;
    justify-content: space-between;
    font-size: 200%;
}



#itemPage{
	font-size: 200%;
	text-decoration: none;
	margin-bottom: 5%;
}

#itemPage div{
	margin: 5%;
}

input[type=submit]{
	font-size: 150%;
    text-decoration: none;
	color: #333;
	background-color: #DDF;
	padding: 5px;
	border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #444;
    margin: 3px;
}

input[type="submit"]:hover {
    background: #AAF;
}
	


#itemPage a{
	text-decoration: none;
	color: green;
}

#soldOut{
	font-size: 50%;
}